.clean-btn {
  display: inline-block;
  border: 1px solid #333;
  background-color: transparent;
  padding: 10px 0;
  margin: 0 3.75px 7.5px;
  width: 165px;
  height: 46px;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
  line-height: 1.785;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.875rem;
}

a {
  transition: color 0.3s cubic-bezier(0.39, 0.01, 0.03, 0.99),
    border 0.3s cubic-bezier(0.39, 0.01, 0.03, 0.99);
}

#site-footer {
  padding: 3rem 1.5rem 0.5rem;
}

.tabs-padding {
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}

.greeting-padding {
  padding-left: 15%;
  padding-right: 15%;
}

@media screen and (max-width: 992px) {
  .greeting-padding {
    padding-left: 5%;
    padding-right: 5%;
  }
  .subtitle {
    font-size: 0.875rem;
  }
}
